.sidebar{
  background-color: #0b0b0b;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
  padding-top: 20px;
  border-radius: 0;

}
body.dark .sidebar{
  background-color: #0b0b0b;
  color: white;
}
body:not(.dark) .sidebar{
  background-color: #f5f5f5;
  color: #222;
}
.sidebar.open{
    width: 259px;
}
.sidebar.closed{
    width: 60px;
}
button.toggle-btn{

    background: #040404;
    color: rgb(240, 236, 236);
    border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.toggle-btn:hover{
       background-color: #0d3b66;
    color: #f9f8f8;
}
button.toggle-btn svg{
    width: 30px;
    height: 30px;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.menu li {
       background: #a1c4fd;
    color: rgb(13, 13, 13);
    text-decoration: none;
    padding: 10px 15px;
    list-style-type: none;
  
    }
        .menu li:hover{
                  background-color: #0d3b66;
    color: #f9f8f8;
}
.menu li a {
    text-decoration: none;
    color: #0b0b0b;
    font-size: 20px;
}
.main-content{
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.25s ease;
}
.sidebar.open + .main-content{
    margin-left: 259px;
}
.sidebar.closed + .main-content{
    margin-left: 60px;
}
        